.wave-letter__row {
  display: block;
  overflow: hidden;
  padding-top: 0.2em;
  margin-top: -0.2em;
  white-space: nowrap;
}

.wave-letter__cell {
  transform: translateY(calc(100% + 0.18em));
  display: inline-block;

  .screen.active & {
    transform: translateY(0.18em);
    transition: transform 0.6s ease;
  }
}
